*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
header{
    font-family: 'Roboto', sans-serif;
}
.header_top{
    background-color: #303030;
}
.header_btn{
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header_btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}
.header_contacts:after{
    content: "";
    clear: both;
    display: block;
}
.header_phone,
.header_email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header_phone{
    padding: 0 30px 0 20px;
}
.header_phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_email{
    padding-left: 24px;
}
.header_email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_content{
    padding: 34px 0 23px;
}
.menu li{
    display: inline-block;
}
.header_content-inner{
    display: flex;
    justify-content: space-between;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: solid 1px transparent;
    padding: 0 16px;
    transition: all .3s;
}
.menu a:hover{
    border-color: #ffc222;
}
.menu li+li {
    padding-left: 10px;
}
#modal {
    display: none;
}
.slider{
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider_item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider_title{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider_text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}
.slider_btn{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color:#fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 50px;
    border: solid 1px #ffc222;
    border-right-width: 20px;
}
.default-btn{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color:#fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 50px;
    border: solid 1px #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}
.default-btn:after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.slider_inner{
    position: relative;
}
.slick-btn.slick-disabled{
    background-color: transparent;
    cursor: default;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slick-btn:before{
    position: absolute;
    right: 50%;
    top: 50%;  
    transform: translate(50%, -50%);
    font-family: 'icomoon';
    color: #fff;
}
.slick-next:before{
    content: "\f105";
}
.slick-next{
    right: 0;
}
.slick-prev:before{
    content: "\f104";
}
.slick-prev{
    left: 0;
}
.services{
    padding: 50px 0px 30px;
}
.service_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.service_title-box{
    padding-left: 140px;
    max-width: 520px;
    position: relative;
}
.service_title-box:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #ffc222;
    left: 0;
    top: 10px;
}
.service_title{
    font-weight: 500;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #212020;
    margin-bottom: 10px;
}
.service_text{
    letter-spacing: 0.1px;
}
.service_btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: .25px;
    padding: 5px 38px;
    border: solid 3px #e6e6e6;
}
.services_items{
    display: flex;
    justify-content: space-between;
}
.service_item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.service_item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0px;
}
.service_item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}
.service_item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.service_item-btn .default-btn{
    color: #373636;
}
.service_item-link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 1px #050505;
    margin-right: 60px;
}